body {
  margin: 0;
}

header,
footer {
  background-color: rgb(38, 38, 38);
}

footer {
  color: white;
}

header > h1 {
  color: rgb(225, 114, 48);
  margin: 0;
}

a {
  color: rgb(225, 114, 48);
}

.main-content-containter {
  display: flex;
}

#column-1 {
  display: flex;
  width: 900px;
  margin-right: 0;
}

#column-2 {
  margin: auto;
  width: 400px;
  background-color: rgb(223, 223, 223);
  
}

img {
  margin: 25px;
  width: 175px;
  height: 175px;
}

#content {
  
}